@{
    ViewBag.Title = "Index";
}
<h2>
    Admin</h2>
<ul>
    <li>
        @Html.ActionLink("Who Signed Up", "WhoSignedUp")
    </li>
    <li>@Html.ActionLink("Reported Items", "BeerItems")
    </li>
    <li>@Html.ActionLink("Who are the Users?!", "Users")</li>
</ul>
