@model IEnumerable<MapItPrices.Models.User>
@{
    ViewBag.Title = "Users";
}
<h2>
    Users</h2>
<p>
    @Model.Count()
</p>
<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Created
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
        </tr>
    }
</table>
