@{
    ViewBag.Title = "Thanks for Signing up!";
}

<p>
    Thanks for signing up for our awesome startup!</p>
<p>
    Wow I can't believe I actually got your email address. Oh man, I'm going to email
    you like a million times a day with all kinds of SPAM, just like that guy you gave
    your phone number to who wouldn't stop calling that time! Wait until I tell the
    guys who run the SPAM bot about this...</p>
<p>
    Oh.. actually it looks like the SPAM bot is broken at the moment... jeez this is
    really embarassing. Err... <b>How about instead we do what we said we were going to
    do and just tell you when you can get into the Beta and download the Android App?</b>
    Like, with links and stuff. K?</p>
<p><i>I'd appreciate if you didn't mention the SPAM bot being broken to anyone.</i> kthxbye</p>
<div>
    <p>
        Like this? NOT UNLESS YOU LIKE IT ON FACEBOOK!!11one</p>
    <div id="fb-root">
    </div>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:like href="http://www.mapitprices.com/Home/SayThanks" send="true" width="450"
        show_faces="true" font=""></fb:like>
</div>
